<h1><%= @title %></h1>
<% unless @err_msg %>
	<div>
		<% @event_ary.each do |event| %>
			<div>
				<a href="<%= event[:event_url] %>"><%= event[:event_name] %></a>
			</div>
		<% end %>
	</div>
<% else %>
<div><%= @event_ary %></div><br /><br /><br />
<div><%= @err_msg %></div>

<% end %>
