<!DOCTYPE html>
<html>
<head>
  <title>
	  <% if @title %>
	    <%= @title %>
	  <% else %>
	  	꿀가득
	  <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<% if controller.controller_name == 'convenience_items' %>
  <body data-no-turbolink>
<% else %>
  <body >
<% end %>

<%= yield %>

</body>
</html>
